@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.navbar-brand{
      font-size: calc(1.275rem + .3vw) !important;
      color: #eee2dc !important;
      font-weight: 900 !important;
      font-family: 'Lato', sans-serif !important;
  }